.main-area {
  background-image: url('./Component/image/banner.png');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;


}

.banner {
  margin: 0 12%;
  display: flex;
  align-items: center;
  width: 85%;
  overflow-x: hidden;
}

.banner h1 {
  font-size: 44px;
  font-weight: 800;
}

span {
  font-size: 20px;
  color: rgb(83, 82, 82);
}

.banner-image {
  width: 757px;
  height: 627px;
  object-fit: cover;


}

nav {
  margin: 0 15%;

}

nav img {
  height: 80px;
  width: 155px;
}

nav ul li a {
  font-size: 18px;
  color: black;
}

/* slide component design */

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logo {
  overflow: hidden;
  white-space: nowrap;
  padding: 65px 0;
  background: black;
  margin-bottom: 50px;
}

.logo:hover .logo-slide {
  animation-play-state: paused;
  cursor: pointer;
}

.logo-slide img {
  height: 50px;
  margin: 0 30px;
}

.logo-slide:nth-child(1) {
  display: inline-block;

  animation: 35s slide infinite linear;
}

.logo-slide:nth-child(2) {
  display: inline-block;

  animation: 35s slide infinite linear;
}

/* store element design */

.store {
  margin: 20px 30%;
  padding: 50px;
  text-align: center;

}

.store h2 {
  font-weight: bolder;


}

.star ul li {
  list-style: none;
  background-image: url('https://mydukaan.io/_next/static/media/star-purple.3a0f99650c0ab639cf633cf46e9a29ae.svg');

  background-repeat: no-repeat;
}

.store-img {
  width: 550px;
}

/* Tool component css design */
/* .tool-banner{
  background-color: rgb(254, 236, 241);
}
.tool-banner h2{
  font-size: 35px;
    font-weight: 700;
}
.tool-banner p {
  font-size: 22px;
}
.tool-row{
  display: flex;
}
.tool-box{
  text-align: center;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: white;
} */

.tool-banner {
  background-color: rgb(254, 236, 241);
  ;
}

.tool-banner h2 {
  font-size: 35px;
  font-weight: 700;
}

.tool-banner p {
  font-size: 22px;
}

.text {
  text-align: center;
  align-items: center;

}

.tool-area {
  width: 68%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 155px;
  padding: 15px 0;
}

.tool-box {
  text-align: center;
  align-items: center;
  padding: 10px;
  height: 260px;
  margin-inline: 25px;
  border-radius: 10px;
  background-color: white;
}