.main-area{
  background-image:url('./Component/image/banner.png') ;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;


}
.banner{
  margin: 0 15%;
}

.banner-image{
  width:740px;
height: 627px;
  
  
}

nav{
  margin: 0 15%;

}
nav img{
  height: 80px;
  width: 100px;
}
nav ul li a{
  font-size: 18px;
  color: black;
}

/* slide component design */

@keyframes slide {
  from{
    transform: translateX(0);
  }
 to{
  transform: translateX(-100%);
 } 
}
.logo{
  overflow: hidden;
  white-space: nowrap;
  padding: 65px 0 ;
  background: black;
}

.logo:hover .logo-slide{
  animation-play-state: paused;
  cursor: pointer;
}
/* .logo-slide{
  display: inline-block;

  animation: 35s slide infinite linear;
} */
.logo-slide img{
  height: 50px;
  margin: 0 30px;
}

.logo-slide:nth-child(1) {
  display: inline-block;

  animation: 35s slide infinite linear;
}

.logo-slide:nth-child(2) {
  display: inline-block;

  animation: 35s slide infinite linear;
}
